@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}



<div class="banner-box">
    <h2>Log In</h2>
    <form asp-action="SendEmailResetPassword" >
        	<div asp-validation-summary="ModelOnly"></div>

        <div class="input_box">
		<input class="text email" asp-for="Email" placeholder="Email" required="">
            <label>Email</label>
            <span asp-validation-for="Email"></span>
        </div>
    <a value="SendEmailResetPassword"><button class="button">Submit</button></a>
    </form>

</div>


<link href="/css/style.css" rel="stylesheet" />
@section ValidationSection {
	<partial name="_ValidationScriptsPartial" />
}