
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}




<div class="services-section">
    <div class="inner-width">
        <h1 class="section-titlee">Our service</h1>
        <div class="border"></div>
        <div class="services-ccontainer">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-bug"></i>
                </div> 
                <div class="service-title">Backend</div>
                <div class="service-desc">
                    Backend services manage server-side logic, database interactions, user authentication, data processing, and API integrations.
                </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="service-title">Frontend </div>
                <div class="service-desc">
                    Frontend services handle user interface design, client-side logic, user interactions, data presentation, and responsive web experiences.
                </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-brush"></i>
                </div>
                <div class="service-title">Ui ux</div>
                <div class="service-desc">
                    UI/UX services focus on designing intuitive interfaces, enhancing user experience, usability testing, and optimizing user interaction.
                </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-object-ungroup"></i>
                </div>
                <div class="service-title">Ai models</div>
                <div class="service-desc">
                    AI services provide machine learning, natural language processing, data analysis, automation, predictive analytics, and intelligent decision-making.
                </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-database"></i>
                </div>
                <div class="service-title">Database</div>
                <div class="service-desc">
                    Database services manage data storage, retrieval, organization, security, backup, and scalability for efficient and reliable data management.
                </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fab fa-android"></i>
                </div>
                <div class="service-title">flutter</div>
                <div class="service-desc">
                    Flutter services offer cross-platform app development, UI customization, performance optimization, integration, and rapid prototyping for mobile applications.
                </div>
            </div>
        </div>
    </div>
</div>



<link href="~/css/style.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />