
@{
    ViewData["Title"] = "StartUp";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}

<div class="banner-text">

    <h1>Manage Your Project</h1>
    <p>Our project show database tables and do what you want to do by easy way</p>
    <div class="banner-btn">
        <a asp-controller="Account" asp-action="LogIn"><span></span>Get Start</a>
    </div>

 </div>