
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<!-- CSS -->
<link rel="stylesheet" href="~/css/style.css">
<div class="services-section">
    <div class="inner-width">
        <h1 class="section-titlee">Our Team</h1>
        <div class="border"></div>

    </div>
 </div>

<section class="swiper mySwiper">

    <div class="swiper-wrapper">

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="~/imgs/profilephoto.jpg" alt="card image" />
            </div>

            <div class="card__content">
                <span class="card__name">Abanoub Nady</span>
                <span class="card__title">--Backend Developer--</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/AbanoubNG/" class="fab fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/abanoubgendy" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201287434695" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="~/imgs/yehia.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Yehia zakaria</span>
                <span class="card__title">--Backend Developer--</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/yahia.zakarya.315" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201147682728" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="~/imgs/Ahmed Raafat.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Ahmed Raafat</span>
                <span class="card__title">--AI Developer--</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/ahmed.rafaat.108" class="fab fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/ahmed-ra-afat-23b212228/" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201003280359" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/omer.jpg" alt="card image">
            </div>

            <div class="card__content active">
                <span class="card__name">Omer Mohammed</span>
                <span class="card__title">AI Developer</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/omar.desoky.188" class="fab fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/omar-desoky-35860b274/" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201090740977" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/mohand.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Mohand Ahmed</span>
                <span class="card__title">Data Analysis</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/profile.php?id=100006424328889" class="fab fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/mohanad-shaker-0b5423263/" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201141948789" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/ali.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Ali Atef</span>
                <span class="card__title">UI/UX Developer</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="https://www.facebook.com/aliatefn" class="fab fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/ali-atef-3b4537279/" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201151818194" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/ashry.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Ashry Mahrous</span>
                <span class="card__title">Flutter Developer</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201060870553" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/mohammed.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">Mohammed Ali</span>
                <span class="card__title">Frontend Developer</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201113597553" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>


        <div class="card swiper-slide">
            <div class="card__image">
                <img src="/imgs/tantawy.jpg" alt="card image">
            </div>

            <div class="card__content">
                <span class="card__name">AbdElrahman Mohammed</span>
                <span class="card__title">Flutter Developer</span>
                <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veritatis labore provident non tempora odio est sunt, ipsum</p>
                <div class="sm">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="http://Wa.me/+201064436935" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />


<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
</script>